<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>227762341046-qve6ngmmiufjqm0vcu6hg7gpqtsn5m1j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.227762341046-qve6ngmmiufjqm0vcu6hg7gpqtsn5m1j</string>
	<key>API_KEY</key>
	<string>AIzaSyARiuKkMZoV4PFbG1hh_xfct8BzdcNIs1w</string>
	<key>GCM_SENDER_ID</key>
	<string>227762341046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.LoginDemoApp</string>
	<key>PROJECT_ID</key>
	<string>logindemo-83cee</string>
	<key>STORAGE_BUCKET</key>
	<string>logindemo-83cee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227762341046:ios:398d2a6cfd7b66c0d71217</string>
	<key>DATABASE_URL</key>
	<string>https://logindemo-83cee.firebaseio.com</string>
</dict>
</plist>